node_modules
dist
.tmp
.sass-cache
bower_components
.metadata
Servers
.project
.classpath
.settings
target/
target-eclipse/
data/
out/
*.iml
*.log
*.ipr
*.iws
.idea/
cobertura.ser
dump.rdb
.DS_Store
core/docs
*.ipr
*.iws
bower_components/
build/
.gradle/
